<div class="page-center">
  <div class="login-container">
    <div class="title">Welcome back</div>
    <div class="subtitle">Sign in to continue</div>

    
    <form [formGroup]="loginForm">

    
      <div class="input-group">
        <label>Email</label>

        <input type="text" formControlName="usernameOrEmail" placeholder="Username Or Email" />

        <div class="err" *ngIf="loginForm.get('usernameOrEmail')?.touched && loginForm.get('usernameOrEmail')?.invalid">
          <span *ngIf="loginForm.get('usernameOrEmail')?.errors?.['required']">
            *Email is required.
          </span>
        </div>
      </div>


      <div class="input-group">
        <label>Password</label>

       
        <input type="password" formControlName="password" placeholder="Password" />

        <div class="err" *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.invalid">
          <span *ngIf="loginForm.get('password')?.errors?.['required']">
            *Password is required.
          </span>
          <span *ngIf="loginForm.get('password')?.errors?.['minlength']">
            *Password must be at least 6 characters.
          </span>
        </div>
      </div>

      <button type="submit" class="btn-login" (click)="onSubmit()">Login</button>

      <a class="back-link" routerLink="/">Back to Home</a>
      <div class="signup-link">
        Don't have an account? <a routerLink="/register">Sign Up</a>
      </div>
    </form>
  </div>
</div>
